<!--Navbar-->
<div class="navbar-fixed">
    <nav class="transparent z-depth-0 container target fixed" role="navigation">
        <div class="nav-wrapper">
            <!--<a id="logo-container" href="#" class="brand-logo center">SenSiMet</a>-->

            <!-- <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" ng-click="isOpen = !isOpen"
                href="#/process">
                 <i class="material-icons">add</i>
             </a>-->

            <ul id="nav-mobile" class=" right hide-on-med-and-down">
                <li><a href="sass.html">Test it! </a></li>
                <li><a href="collapsible.html">How to</a></li>
                <li><a href="collapsible.html">About</a></li>
            </ul>
        </div>
    </nav>
</div>


