<!--Navbar-->
<nav class="purple darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">Prodigen</a>

        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" ng-click="isOpen = !isOpen"
           href="#/process">
            <i class="material-icons">add</i>
        </a>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#/index">Navbar Link</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>